.redmine_issue_link {
    display: inline-block;
    border: 1px solid #2D6FCD;
    color: #2D6FCD;
    background: #E8F2F8;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
}

.redmine_issue_link img {
	width: 20px;
}

.redmine_issue_link a:visited {
	color:inherit;
}
